/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property - The "symbol *" part is to solve Firefox SVG sprite bug */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  all: unset;
}

/* fix the feature of 'hidden' attribute. display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
  -webkit-user-drag: element;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 25px;
  color: red;
}

h1 span:nth-child(odd) {
  display: inline-block;
  transform: rotate(10deg);
  color: green;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  border: none;
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.tile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 85px;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.letter {
  display: block;
  font-size: 10rem;
  font-weight: 700;
  margin: 0;
  color: #333;
  text-align: center;
}

.image {
  display: block;
  margin: 0 auto;
}

.details {
  grid-column: span 2;
  background-color: #dfdfdf;
  border-radius: 10px;
  padding: 5px 20px;
}

.name {
  font-weight: 700;
  font-size: 3rem;
}

.description {
  font-size: 2rem;
}

.history header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history h2 {
  font-weight: 700;
  font-size: 2rem;
}

.history p {
  font-weight: 400;
  font-size: 1.6rem;
}

.history-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 20px;
  overflow-x: scroll;
  padding: 10px;
  grid-auto-columns: 110px;
}

.history-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.history-list .letter {
  font-size: 4rem;
}

.history-list .image {
  width: 50px;
  height: auto;
}
